@import "tailwindcss";

@theme {
  --font-primary: var(--font-oakesgrotesk);
  --font-secondary: var(--font-nohemi);
  --font-tertiary: var(--font-outfit);
  --color-light-800: #262626;
  --color-light-900: #171717;
  --color-light-50: #fafafa;
  --color-primary: #1253ed;
  --color-black-900: #414141;
  --color-primary-500: #1da077;
  --color-base-black: #2b2b2b;
  --color-secondary-500: #c33241;
  --color-secondary-50: #f9ebec;
  --animate-sway: sway 2s ease-in-out infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo-filter:not(:hover) {
  filter: brightness(0) saturate(100%) invert(24%) sepia(21%) saturate(3%)
    hue-rotate(106deg) brightness(100%) contrast(94%);
}

.wrapper:has(.rotating-word) {
  position: relative;
}

.rotating-word {
  position: absolute;
}

@keyframes sway {
  0%,
  100% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
